:global {
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .el-popover {
    padding: 0; //影响了clickoutside点击事件范围判断
  }

  //边框颜色加深
  .el-popover.el-popper,
  .el-dropdown-menu {
    border: 1px solid #ccc;
    box-shadow: 0 2px 12px 2px rgb(0 0 0 / 10%);
  }
  .el-popper[x-placement^="bottom"] .popper__arrow {
    border-bottom-color: #ccc;
  }
}
.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;

  display: flex;
  flex-direction: column;

  .top {
    background: #eee;
  }

  .editor {
    flex: 1;
    overflow: hidden;
    height: 100%;
    display: flex;

    .left {
      width: 200px;
      min-width: 200px;
      padding: 10px 5px;
      overflow-y: auto;
    }
    .right {
      flex: 1;
      /** 不要超出100% */
      overflow: hidden;
    }
  }
}
