$color: #fff;
$activeColor: #3e96e7;

// 拖拽把手
.draggable {
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}

.li {
  position: relative;
  list-style: none;
  display: flex;
  width: 100%;

  .container {
    border-left: 1px solid #ddd;
    flex: 1;
  }
}

// 被拖拽元素样式
.ondrag {
  color: #999;
}
// 释放位置的样式
.ondrop {
  // 放置位置提示线
  &::before,
  &::after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
  }
  &::after {
    bottom: -5px;
  }
  &.before::before {
    border-top: 5px solid $activeColor;
  }
  &.inner::after {
    border-bottom: 5px solid $activeColor;
    margin-left: 40px;
  }
  &.after::after {
    border-bottom: 5px solid $activeColor;
  }
}
